{{- $link := .Get "link" | default "https://www.resumetemplates.nl/" -}}
{{- $num := .Get "num" -}}
{{- $rows := (index site.Data "template-rows").rows -}}

{{- $nums := slice -}}
{{- range $rows -}}{{- $nums = $nums | append .num -}}{{- end -}}

{{- if not $num -}}
<div class="template-row-warning">template-row shortcode: missing "num" parameter. Defined rows: {{ printf "%v" $nums }}.</div>
{{- warnf "template-row shortcode on page %s: missing \"num\" parameter (defined rows: %v)" .Page.Path $nums -}}
{{- else if not (in $nums (int $num)) -}}
<div class="template-row-warning">template-row shortcode: num="{{ $num }}" is not defined in data/template-rows.yaml. Defined rows: {{ printf "%v" $nums }}. Add a row with num: {{ $num }} to define it.</div>
{{- warnf "template-row shortcode on page %s: num=%q not defined in template-rows.yaml (defined rows: %v)" .Page.Path $num $nums -}}
{{- else -}}
{{- $matches := where $rows "num" (int $num) -}}
{{- if gt (len $matches) 1 -}}
{{- warnf "template-rows.yaml: duplicate num=%d definitions (%d rows); using the first" (int $num) (len $matches) -}}
{{- end -}}
{{- $row := index $matches 0 -}}
{{- $bundle := site.GetPage "/resume-templates/modern-professional-resume" -}}
<div class="template-row">
  <h4 class="template-row-label">{{ $row.label }}</h4>
  <div class="image-gallery">
    {{- range $row.images -}}
    {{- $src := .file -}}
    {{- $ilink := .link | default $link -}}
    {{- with $bundle -}}{{- with .Resources.GetMatch $src -}}{{- $src = .RelPermalink -}}{{- end -}}{{- end -}}
    <a class="gallery-item" href="{{ $ilink }}" target="_blank" rel="noopener">
      <figure>
        <img src="{{ $src }}" alt="{{ .caption }}">
        <figcaption>{{ .caption }}</figcaption>
      </figure>
    </a>
    {{- end -}}
  </div>
</div>
{{- end -}}
